
.menu{
background-color: #302384;
height: 40px;
color: #ffffff;
width: 1350px;
font-family: Orbitron;}



img {
    max-height: 500px;
    max-width: 1000px;
    height: auto;
    width: auto;
    margin-right: 30px;
}

body{
    background-color: #D3BEE4;
}


.formulario {
    background-color: #6F4A8E;
    margin-right: 2px;
    position: fixed;
    width: 800px;
    border-radius: 1em;
}



.feedback {
    margin-top: 40px;
    text-align: center;
    font-size: large;
    font-family: Orbitron;
    color: #F6F0FF;
}


.separacao{
    height: 3px;
    background-color: #F6F0FF;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #C4C4C4;
    border-radius: 1em;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input[type=submit], input[type=reset] {
    background-color: black;
    color: #6F4A8E;
    font-size: medium;
    width: 100px;
    height: 30px;
}

input[type=submit]:hover{
    background-color: #C79BD5;
    color: #000000;
    border: 2px solid;
}

input[type=reset]:hover {
    background-color: #C79BD5;
    color: #000000;
    border: 2px solid;
}  

button {
    margin-left: .5em;
}

.comentarios{
    
    border-top: 1px solid #302384;
    
    color: #000000;
    font-size: large;
    width: 100%;
    height: 60px;
    
}

.circle img{
    position: relative;
    width: 100%;
    margin-left: 15px;
    margin-top: 4px;
  }

.circle {
    background-color: #C79BD5;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: relative;
    margin: 0px;
    margin-left: 15px;
    margin-top: 4px;
  }
.secao{
    position: relative;
    font-family: 'Orbitron', sans-serif;
}

    
.icone-scroll{
    position: absolute;
    bottom: 5em;
    width: 50px;
    height: 50px;
    background-color: #0E0325;
    border-radius: 50%;
    left: 50%;
    margin-left: 35%;
    cursor: pointer;
}
    
.scroll{
    width: 15px;
    height: 15px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    position: relative;
}
    
.scroll-next {
    transform: rotate(45deg);
    margin: 14px 0 0 16.5px;
}

p{
    font-size: x-large;
    font-family: orbitron;
    color: #181818;
}

#pagina2{
    margin-top: 5px;
}