<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #D3BEE4;">

    <div class="menu">
        <div class="row">
            <div class="col-sm ">
            </div>

            <div class="col-sm-1 ">
                <p><a style="color: white;" href="/inicial">Voltar</a></p>
            </div>
        </div>
    </div>

    <div class=" pagina row">
        <div class="col-sm-5 formulario">
            <p style="color: #1f2124; font-size: x-large; padding-top: 8px;">Cadastro</p>
            <form action="/insere" method="post">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login"><br><br>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"><br><br>
                <label for="senha">Senha:</label>
                <input type="text" id="senha" name="senha"><br><br>
                <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpar" /></p>
            </form>
        </div>

        <div class="col figura">
            <img src="/img/cadastro.gif">

        </div>
    </div>
</body>

</html>