<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/guia.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body style="background-color: #F5E0F9;">

    <div class="guia row">
        <div class="col"></div>
        <div class="col-">
        <h1>Guia/sobrevivência</h1>
        </div>
        <div class="col-sm-5"></div>
        <div class="col">
            <h1 class="voltar"> <a class="sai" href="/inicial">Voltar</a></h1>
        </div>
    </div>

    <div class=" quadrado row">
        <div class="col-sm-6">
            <div id="rectangle"> <br>
                <h2>Links</h2> <br>
                <p> <a href="https://getbootstrap.com/">Bootstrap</a></p>
                <p> <a href="https://www.w3schools.com/">W3schools</a></p>  
                <p> <a href="https://pt.stackoverflow.com/">Stackoverflow</a></p>  
                <p> <a href="https://github.com/">GitHub</a></p> 
                <p> <a href="https://codepen.io/">Codepen</a></p> <br>
                <h2>Downloads</h2> <br>
                <p> <a href="https://code.visualstudio.com/download">Visual Studio Code</a></p>
                <p> <a href="https://git-scm.com/">Git-scm</a></p>  
                <p> <a href="https://slack.com/intl/pt-br/downloads/windows">Slack</a></p>  
                <p> <a href="https://www.eclipse.org/downloads/packages/">Eclipse</a></p> 
                <p> <a href="https://www.oracle.com/java/technologies/javase/javase-jdk8-downloads.html">Oracle</a></p> 
                <p> <a href="https://dev.mysql.com/downloads/installer/">Mysql</a></p>  
                <p> <a href="https://www.postman.com/downloads/">Postman</a></p> 
            </div>

        </div>
        <div style="background-color: #BB82E9;" class="col-sm-6">
            <div id="rectangle"> <br>
                <h2>Dicas Especiais</h2> <br>
                <p>1- Façam as coisas com calma! <br>
                    Não fiquem ansiosos com as tarefas, <br>
                    esse é um espaço seguro para cometer erros.</p>
                <p>2- Tire um tempo para seu bem estar!</p>
                <p>3- Use o zoom para fazer atividades com a galera.</p>
                <p>4-Dêem feedback entre si <br>
                (isso ajuda muito na evolução dos projetos).</p>
                <p>5- Conversem com os coaches e professores.</p>
                <p>6- Use o slack para comunicar, tirar dúvidas, conversar com a galera do curso.</p>
                <p>7- Organize seu tempo.</p>
                <p>8- Tenha foco e dedicação.</p>
                <p>9- Ensine o que você aprendeu para outras pessoas.</p>
                <p>10- Faça amizadeeeeeees!</p>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-">
            <img src="/img/Typing-bro.png">
        </div>
        <div class="col"></div>
    </div>
</body>
</html>